/* さ */
article[data-content="sa"] {
  background: #ddd;
  padding-block: 3rem;
  padding-inline: var(--padding-inline);
  isolation: isolate;

  .title-wrap {
    display: grid;
    place-content: center;
  }
  h2 {
    span {
      text-decoration: wavy underline blue;
      text-underline-offset: 12px;
    }
  }

  p {
    margin-top: 3rem;
    max-width: 64ch;
  }

  .char-sa {
    rotate: -10deg;
    font-weight: bold;
    user-select: none;
    color: aquamarine;
    right: 3rem;
    bottom: 3rem;
  }
}

/* し */
article[data-content="si"] {
  padding-block: 3rem;
  padding-inline: var(--padding-inline);

  .char-si {
    right: 2rem;
    top: 0;
  }

  .main-text {
    max-width: 64ch;
    margin-top: 2rem;
  }

  .text-si {
    color: #ddd;
    z-index: -1;
  }

  ul {
    --min: 300px;
    margin-top: 3rem;
  }

  li {
    container-type: list / inline-size;
    padding-inline: 1.5rem;
    padding-block: 2rem;
    background: #eee;

    h3 {
      font-size: var(--size-md);
    }

    p {
      margin-top: 1rem;
    }
  }
}

/* す */
article[data-content="su"] {
  padding-block: 3rem;
  padding-inline: clamp(1rem, 5cqi, 3rem);

  ul {
    margin-block-start: 2rem;
  }

  li {
    --border-color: #333;

    display: grid;
    padding: 2.5rem 1.5rem;
    border-top: 1px solid var(--border-color);

    &:last-child {
      border-bottom: 1px solid var(--border-color);
    }
  }

  h3 {
    display: grid;
    place-items: center;
  }
  p {
    margin-block-start: 1rem;
  }

  @media (600px < width) {
    li {
      grid-template-columns: 1fr 2fr;
    }

    p {
      margin-block-start: 0;
    }
  }

  > :nth-child(3) {
    display: grid;
    grid-auto-flow: column;
  }

  .char-su {
    width: fit-content;
    margin-inline-start: auto;
  }
  .text-su {
    color: #eee;
    display: grid;
    align-items: end;
  }
}

/* せ */
article[data-content="se"] {
  padding-block: 4rem;
  padding-inline: var(--padding-inline);
  overflow: hidden;

  .title-wrap {
    max-width: 800px;
    margin-inline: auto;
  }
  h2:nth-of-type(1) {
    rotate: -8deg;
    width: fit-content;
  }
  h2:nth-of-type(2) {
    rotate: 8deg;
    width: fit-content;
    margin-left: auto;
    margin-top: 2rem;
  }

  .desc {
    width: fit-content;
    margin-left: auto;
    margin-top: 4rem;
  }

  p {
    max-width: 64ch;
    margin-top: 1rem;
  }

  .sendai {
    font-weight: bold;
    margin-block-start: 2rem;
    margin-inline-start: 3rem;
  }

  .zunda {
    font-size: var(--size-lg);
    background: greenyellow;
    width: fit-content;
    padding: 0.25em 0.5em;
    margin-inline-start: 3rem;
  }

  .circle {
    background: lightgreen;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
  }

  .c1 {
    top: 0;
    right: 0;
    translate: 25% -25%;
    width: min(460px, 50%);
  }
  .c1::before {
    content: "";
    width: 100%;
    height: 100%;
    translate: -5% -8%;
    display: block;
    border-radius: inherit;
    border: 2px solid gold;
  }

  .c2 {
    top: 10%;
    left: 4%;
    width: min(220px, 30%);
  }

  .c2::before {
    content: "";
    width: 100%;
    height: 100%;
    translate: 5% 3%;
    display: block;
    border-radius: inherit;
    border: 2px solid gold;
  }

  .char-se {
    width: min(180px, 20%);
    display: grid;
    place-items: center;
    color: black;
    font-weight: bold;
    rotate: 15deg;
    font-size: clamp(20px, 12cqi, 80px);
    margin-inline-start: auto;
    margin-inline-end: 3rem;
    margin-block-start: 2rem;
    user-select: none;
  }
}

/* そ */
article[data-content="so"] {
  padding-block: 3rem;
  padding-inline: var(--padding-inline);
  position: relative;
  isolation: isolate;
  overflow: hidden;

  --box-block-space: 2rem;

  > :nth-child(2) {
    width: fit-content;
    margin-inline: auto;
    margin-block-start: 5rem;
  }

  h2 {
    font-size: var(--size-xxl);
    &:nth-of-type(2) {
      margin-inline-start: auto;
      width: fit-content;
      margin-block-start: var(--box-block-space);
    }
  }

  p {
    margin-block-start: 1rem;
    max-width: 60ch;
  }

  .box {
    max-width: 700px;
    margin-inline: auto;
    background: #aaa;
    margin-block-start: var(--box-block-space);
  }

  iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    display: block;
  }

  .circle {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    position: absolute;
    z-index: -1;
  }

  .circle-1 {
    width: min(70vw, 650px);
    left: 0;
    top: 0;
    translate: -35% -30%;
    background: yellow;
  }

  .circle-2 {
    width: min(50vw, 480px);
    right: 0;
    bottom: 0;
    translate: 40% 40%;
    background: greenyellow;
  }

  .circle-3 {
    width: min(20vw, 300px);
    translate: 40% 40%;
    background: yellow;
    left: 10%;
    bottom: 30%;
  }

  .circle-4 {
    width: min(15vw, 190px);
    translate: 40% 40%;
    background: greenyellow;
    bottom: 12%;
    right: 34%;
  }

  .char-so {
    color: lawngreen;
    width: fit-content;
    margin-inline-start: auto;
    margin-inline-end: 5rem;
    rotate: 15deg;
  }

  .ena,
  .niki {
    font-size: var(--size-xl);
    margin-inline-start: 3rem;
  }
}
