/* さ */
article[data-content="sa"] {
  background: #ddd;
  padding-block: 3rem;
  padding-inline: 3rem;
  isolation: isolate;

  @media (700px < width) {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
  }

  display: none;

  h2 {
    span {
      text-decoration: wavy underline blue;
      text-underline-offset: 12px;
    }
  }

  p {
    margin-top: 3rem;
    max-width: 64ch;
  }

  .char-sa {
    rotate: -10deg;
    color: blue;
    font-weight: bold;
    text-align: end;
    margin-top: 3rem;
    user-select: none;
  }
}

/* し */
article[data-content="si"] {
  padding-block: 3rem;
  padding-inline: 2rem;

  display: none;

  .char-si {
    right: 2rem;
    top: 0;
  }

  .main-text {
    max-width: 64ch;
    margin-top: 2rem;
  }

  .text-si {
    color: #ddd;
    z-index: -1;
  }

  ul {
    --min: 300px;
    margin-top: 3rem;
  }

  li {
    container-type: list / inline-size;
    padding-inline: 1.5rem;
    padding-block: 2rem;
    background: #eee;

    h3 {
      font-size: var(--size-md);
    }

    p {
      margin-top: 1rem;
    }
  }
}

/* せ */
article[data-content="se"] {
  padding-block-start: 4rem;
  padding-block-end: 12rem;
  padding-inline: clamp(1rem, 4cqi, 2rem);
  overflow: hidden;
  border: 3px solid lightgreen;

  display: none;

  .title-wrap {
    max-width: 800px;
  }
  h2:nth-of-type(1) {
    rotate: -8deg;
    width: fit-content;
  }
  h2:nth-of-type(2) {
    rotate: 8deg;
    width: fit-content;
    margin-left: auto;
    margin-top: 2rem;
  }

  > :nth-child(2) {
    width: fit-content;
    margin-left: auto;
    margin-top: 4rem;
  }

  p {
    max-width: 64ch;
    margin-top: 1rem;
  }

  .sendai {
    font-weight: bold;
    margin-top: 2rem;
  }

  .zunda {
    font-size: var(--size-lg);
    background: greenyellow;
    width: fit-content;
    padding: 0.25em 0.5em;
  }

  .circle {
    background: lightgreen;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
  }

  .c1 {
    top: 0;
    right: 0;
    translate: 25% -25%;
    width: min(460px, 50%);
  }
  .c1::before {
    content: "";
    width: 100%;
    height: 100%;
    translate: -5% -8%;
    display: block;
    border-radius: inherit;
    border: 2px solid gold;
  }

  .c2 {
    top: 10%;
    left: 4%;
    width: min(220px, 30%);
  }

  .c2::before {
    content: "";
    width: 100%;
    height: 100%;
    translate: 5% 3%;
    display: block;
    border-radius: inherit;
    border: 2px solid gold;
  }

  .c3 {
    bottom: 2%;
    right: 10%;
    width: min(180px, 30%);
    display: grid;
    place-items: center;
    color: black;
    font-weight: bold;
    rotate: 15deg;
    font-size: clamp(30px, 15cqi, 100px);
  }
}

/* そ */
article[data-content="so"] {
  padding-inline: clamp(1rem, 5cqi, 3rem);
  padding-block: 3rem;
  position: relative;
  isolation: isolate;
  overflow: hidden;

  --box-block-space: 2rem;

  > :nth-child(2) {
    width: fit-content;
    margin-inline: auto;
    margin-block-start: 5rem;
  }

  h2 {
    &:nth-of-type(2) {
      margin-inline-start: auto;
      width: fit-content;
      margin-block-start: var(--box-block-space);
    }
  }

  p {
    margin-block-start: 1rem;
    max-width: 60ch;
  }

  .box {
    max-width: 700px;
    margin-inline: auto;
    background: #aaa;
    margin-block-start: var(--box-block-space);
  }

  iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    display: block;
  }

  .circle {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    position: absolute;
    z-index: -1;
  }

  .circle-1 {
    width: min(70vw, 650px);
    left: 0;
    top: 0;
    translate: -35% -35%;
    background: yellow;
  }

  .circle-2 {
    width: min(50vw, 480px);
    right: 0;
    bottom: 0;
    translate: 40% 40%;
    background: greenyellow;
  }

  .circle-3 {
    width: min(20vw, 300px);
    translate: 40% 40%;
    background: yellow;
    left: 10%;
    bottom: 30%;
  }

  .circle-4 {
    width: min(15vw, 190px);
    translate: 40% 40%;
    background: greenyellow;
    bottom: 12%;
    right: 34%;
  }

  .char-hi {
    color: lawngreen;
    width: fit-content;
    margin-inline-start: auto;
    margin-inline-end: 5rem;
    rotate: 15deg;
  }

  .ena {
    font-size: var(--size-xxxl);
  }

  .niki {
    font-size: var(--size-xxl);
  }
}
