section[data-gyo="HA"] > .content {
  padding-inline: clamp(1rem, 7cqi, 5rem);
  padding-block: 3rem;

  @media (680px < width) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }

  article {
    padding-inline: 1rem;
    padding-block: 2rem;
    position: relative;
  }

  h2 {
    font-size: var(--size-xl);
    text-align: center;
  }

  p {
    margin-block-start: 1.5rem;
    line-height: 2;

    span {
      margin-inline-start: 0.5rem;
    }
  }

  .char-l {
    left: 0;
    top: 0;
    translate: -25% 0;
  }
  .char-r {
    right: 0;
    top: 0;
    translate: 25% 0;
  }
  .char-c {
    left: 50%;
    top: 50%;
    translate: -50% -50%;
  }
}
article[data-content="ha"] {
  grid-column: 1 / span 3;
  grid-row: 1;
}
article[data-content="hi"] {
  grid-column: 3 / span 3;
  grid-row: 2;
}

article[data-content="hu"] {
  grid-column: 2 / span 3;
  grid-row: 3;
}

article[data-content="he"] {
  grid-column: 1 / span 3;
  grid-row: 4;
}

article[data-content="ho"] {
  grid-column: 3 / span 3;
  grid-row: 5;
}
