section[data-gyo="RA"] > .full {
  padding-block: 3rem;
  width: min(1200px, 100%);
  margin-inline: auto;

  > * + * {
    margin-block-start: 1rem;
  }

  article {
    background: #eee;
    padding-block: 1rem;
    padding-inline: 1.5rem;
    overflow: hidden;
    position: relative;
    isolation: isolate;
  }

  .char {
    top: 0;
    right: 0;
    translate: 30% -20%;
    rotate: 12deg;
  }

  .anime-enter {
    animation: clip 0.2s forwards ease-out;
  }

  .anime-leave {
    animation: clip-back 0.2s forwards ease-out;
  }

  h2 {
    font-size: var(--size-lg);
    place-self: center;
  }
  p {
    max-inline-size: 48ch;
    place-self: center;
    margin-block-start: 1rem;
  }

  @media (720px < width) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;

    > * + * {
      margin-block-start: 0;
    }

    article {
      display: grid;
      grid-auto-rows: minmax(400px, auto);
    }

    h2,
    p {
      writing-mode: vertical-rl;
    }

    p {
      margin-block-start: 0;
    }
  }
}
