* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

li {
    list-style: none;
}

.site-container {
    max-width: min(100% - 3.5rem, 1024px);
    margin-inline: auto;
}

/* 多分モバイル用スタイルに切り分けた方がいいかも */
header {
    height: 100vh;
    height: 100dvh;
    display: grid;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;

    translate: 0 -150%;
}

.hiragana-main-layout {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
}

.fixed-mobile-only {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
}

.gyou {
    font-size: 20px;

    &:nth-child(1) { order: 10; }
    &:nth-child(2) { order: 9; }
    &:nth-child(3) { order: 8; }
    &:nth-child(4) { order: 7; }
    &:nth-child(5) { order: 6; }
    &:nth-child(6) { order: 5; }
    &:nth-child(7) { order: 4; }
    &:nth-child(8) { order: 3; }
    &:nth-child(9) { order: 2; }
    &:nth-child(10) { order: 1; }
}


main {
    margin-top: 3rem;

    > * + * {
        margin-top: 1.5rem;
    }
}

article {
    display: grid;
    border: 1px solid #000;

    > * + * {
        margin-top: 0.5rem;
    }
}